<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignments"
        tools:targetApi="31">
        <activity
            android:name=".Assignment8_addFragment"
            android:exported="false" />
        <activity
            android:name=".Assignment8_main"
            android:exported="false" />
        <activity
            android:name=".ThankYouActivity"
            android:exported="false" />
        <activity
            android:name=".Assignment7_main"
            android:exported="false" />
        <activity
            android:name=".Assignment6_registered"
            android:exported="false" />
        <activity
            android:name=".Assignment6_login"
            android:exported="false" />
        <activity
            android:name=".Assignment6_main"
            android:exported="false" />
        <activity
            android:name=".Assignment5_operation"
            android:exported="false" />
        <activity
            android:name=".Assignment5_main"
            android:exported="false" />
        <activity
            android:name=".Assignment4_main"
            android:exported="false" />
        <activity
            android:name=".Assignment3_main"
            android:exported="false" />
        <activity
            android:name=".Assignment2_mod"
            android:exported="false" />
        <activity
            android:name=".Assignment2_div"
            android:exported="false" />
        <activity
            android:name=".Assignment2_mul"
            android:exported="false" />
        <activity
            android:name=".Assignment2_sub"
            android:exported="false" />
        <activity
            android:name=".Assignment2_add"
            android:exported="false" />
        <activity
            android:name=".Assignment2_main"
            android:exported="false" />
        <activity
            android:name=".Assignments_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>